{% extends "CoralScrumMainBundle::index.html.twig" %}

{% block container %}
    <h1>New project</h1>

    <form action="{{ path('CSM_project_add') }}" method="post" {{ form_enctype(form) }}>

        {#{ form_widget(form) }#}

        <div>
            {{ form_label(form.name, "Project name : ") }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </div>

        <div>
            {{ form_label(form.isPublic, "Public project : ") }}
            {{ form_errors(form.isPublic) }}
            {{ form_widget(form.isPublic) }}
        </div>

        {{ form_rest(form) }}

        <input type="submit" id="_submit" name="_submit" value="Save" />
    </form>
{% endblock %}
