{% extends "CoralScrumMainBundle::index.html.twig" %}

{% block menu %}
    {% include "CoralScrumMainBundle:Main:menu.html.twig" %}
{% endblock %}

{% block container -%}

    <h1>{{ entity.name }}</h1>
    
    <a class="button" href="{{ path('project_edit', { 'projectId': entity.id }) }}">Edit</a>

    <table class="cleanTab projectDetails">
        <tbody>
            <tr>
                <th><img src="{{ asset('img/lock.png') }}" alt="" /></th>
                <td>
                    {%- if entity.isPublic -%}
                    Public project
                    {%- else -%}
                    Private project
                    {%- endif -%}
                </td>
            </tr>
            <tr>
                <th><img src="{{ asset('img/github.png') }}" alt="" /></th>
                <td><a target="_blank" href="{{ entity.repository }}">Repository link</a></td>
            </tr>
        </tbody>
    </table>

    {{ form(delete_form) }}

{% endblock %}
