{% extends "CoralScrumMainBundle::index.html.twig" %}

{% block menu %}
    {% include "CoralScrumMainBundle:Main:menu.html.twig" %}
{% endblock %}

{% block container -%}

    <h1>{{ entity.name }}
        {% if app.user.id == entity.owner.id -%}
            <a class="edit" href="{{ path('project_edit', { 'projectId': entity.id }) }}"></a>
        {%- endif -%}
    </h1>

    <div class="projectDetails">
        <a class="button" href="{{ path('project') }}">Back to Projects</a>


        <table class="cleanTab">
            <tbody>
                <tr>
                    <th><img src="{{ asset('img/lock.png') }}" alt="" /></th>
                    <td>
                        {%- if entity.isPublic -%}
                        Public project
                        {%- else -%}
                        Private project
                        {%- endif -%}
                    </td>
                </tr>
                <tr>
                    <th><img src="{{ asset('img/github.png') }}" alt="" /></th>
                    <td><a target="_blank" href="{{ entity.repository }}">Repository link</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="collaborators">
        {% if app.user.id == entity.owner.id %}
        <a class="button addCollab" href="{{ path('collaborator_new', { 'projectId': entity.id }) }}">Add a collaborator</a>
        {%- endif -%}

        <table class="defaultTab">
            <thead>
                <tr>
                    {% if entity.owner.id == app.user.id %}
                    <th colspan="3">Collaborators</th>
                    {% else %}
                    <th colspan="2">Collaborators</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for userProject in entity.userproject %}
                <tr>
                    <td><span title="{{ userProject.user.firstname ~ ' ' ~ userProject.user.lastname }}">{{ userProject.user }}</span></td>
                    <td>{{ userProject.accountType }}</td>
                    {% if entity.owner.id == app.user.id %}
                    <td>
                        <a class="edit" href="{{ path('collaborator_edit', { 'projectId': projectId, 'id': userProject.id }) }}"></a>
                        {% if userProject.user.id != app.user.id %}
                        <a class="delete popupDialog" href="{{ path('collaborator_delete', { 'projectId': projectId, 'id': userProject.id }) }}"></a>
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="clear"></div>
    
{% endblock %}
