{% extends "CoralScrumMainBundle::index.html.twig" %}

{% block menu %}
    {% include "CoralScrumMainBundle:Main:menu.html.twig" %}
{% endblock %}

{% block container -%}

    <h1>{{ entity.name }}</h1>

    <table class="cleanTab projectDetails" style="float:left;">
        <tbody>
            <tr>
                <th><img src="{{ asset('img/lock.png') }}" alt="" /></th>
                <td>
                    {%- if entity.isPublic -%}
                    Public project
                    {%- else -%}
                    Private project
                    {%- endif -%}
                </td>
            </tr>
            <tr>
                <th><img src="{{ asset('img/github.png') }}" alt="" /></th>
                <td><a target="_blank" href="{{ entity.repository }}">Repository link</a></td>
            </tr>
        </tbody>
    </table>

    <table class="cleanTab collaborators">
        <tbody>
            <tr>
                <th>Collaborators</th>
            </tr>
        {% for userProject in collaborators %}
            <tr>
                <td>{{ userProject.user }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="clear"></div>

    <a class="button" href="{{ path('collaborator_new', { 'projectId': entity.id }) }}">Add a collaborator</a>
    <a class="button" href="{{ path('project') }}">Back to Projects</a>
    
{% endblock %}
