{% trans_default_domain 'FOSUserBundle' %}

<h1>
    Profile
    <a class="edit" href="{{ path('fos_user_profile_edit') }}"></a>
</h1>

<table class="cleanTab">
    <tbody>
        <tr>
            <th>{{ 'profile.show.username'|trans }}</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th>First name</th>
            <td>{{ user.firstname }}</td>
        </tr>
        <tr>
            <th>Last name</th>
            <td>{{ user.lastname }}</td>
        </tr>
        <tr>
            <th>{{ 'profile.show.email'|trans }}</th>
            <td>{{ user.email }}</td>
        </tr>
    </tbody>
</table>

<a class="button" style="margin-top:20px;" href="{{ path('fos_user_change_password') }}">Change password</a>
