{% extends "CoralScrumMainBundle::index.html.twig" %}

{% block menu %}
    {% include "CoralScrumMainBundle:Main:menu.html.twig" %}
{% endblock %}

{% block container -%}
    <h1>Edit Sprint</h1>

    {{ form_start(edit_form) }}

    <div>
        {{ form_label(edit_form.duration, 'Duration (days)') }}
        {{ form_errors(edit_form.duration) }}
        {{ form_widget(edit_form.duration) }}
    </div>
    <div>
        <label for="coralscrum_mainbundle_sprint_userStory" class="required">User Stories<br><span class="hint">(Ctrl+click multiple-select)</span></label>
        {{ form_errors(edit_form.userStory) }}
        {{ form_widget(edit_form.userStory) }}
    </div>

    {{ form_end(edit_form) }}

    <a class="button" href="{{ path('sprint', { 'projectId': projectId }) }}">Back to Sprints</a>

{% endblock %}
