{% extends "CoralScrumMainBundle::index.html.twig" %}

{% block menu %}
    {% include "CoralScrumMainBundle:Main:menu.html.twig" %}
{% endblock %}

{% block container -%}
    <h1>Sprint list</h1>

    {% if isGranted -%}
    <a class="button" href="{{ path('sprint_new', { 'projectId': projectId }) }}">Create a new Sprint</a>
    {%- endif %}

    <table class="defaultTab tablesorter">
        <thead>
            <tr>
                <th>ID</th>
                <th>User Stories</th>
                <th>Start Date</th>
                <th>Duration (days)</th>
                {% if isGranted -%}
                <th>Actions</th>
                {%- endif %}
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('sprint_show', { 'projectId': projectId, 'sprintId': entity.id }) }}">#{{ entity.id }}</a></td>
                <td>
                    <ul class="list">
                    {% for userstory in entity.userstory %}
                        <li><a href="{{ path('userstory_show', { 'projectId': projectId, 'id': userstory.getId() }) }}">{{ userstory }}</a></li>
                    {% endfor %}
                    </ul>
                </td>
                <td>{% if entity.startDate %}{{ entity.startDate|date('Y-m-d H:i') }}{% endif %}</td>
                <td>{{ entity.duration }}</td>
                {% if isGranted -%}
                <td>
                    <a class="edit" href="{{ path('sprint_edit', { 'projectId': projectId, 'sprintId': entity.id }) }}"></a>
                    <a class="delete popupDialog" href="{{ path('sprint_delete', { 'projectId': projectId, 'sprintId': entity.id }) }}"></a>
                </td>
                {%- endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.tablesorter.min.js') }}" type="text/javascript"></script>
    <script>
        $(document).ready(function() {
            $(".tablesorter").tablesorter();
        });
    </script>
{% endblock %}
