{% extends "CoralScrumMainBundle::index.html.twig" %}

{% block menu %}
    {% include "CoralScrumMainBundle:Main:menu.html.twig" %}
{% endblock %}

{% block container -%}
    <h1>Sprint #{{ entity.displayId }}
        {% if isGranted and isSprintFinished == false -%}
            <a class="edit" href="{{ path('sprint_edit', { 'projectId': projectId, 'sprintId': entity.id }) }}"></a>
        {%- endif -%}
    </h1>
    <h3><span class="bold">Start Date:</span> {{ entity.startDate|date('d M Y H:i') }}</h3>
    <h3><span class="bold">Duration:</span> {{ entity.duration }} {{ entity.duration == 1 ? 'day' : 'days' }}</h3>

    {% if isGranted and isSprintFinished == false -%}
    <a class="button" href="{{ path('task_new', { 'projectId': projectId, 'sprintId': sprintId }) }}">Create a new Task</a>
    {%- endif %}

    <a class="button" href="{{ path('sprint_stats', { 'projectId': projectId, 'sprintId': sprintId }) }}">View Sprint Stats</a>

    <table class="defaultTab tablesorter">
        <thead>
            <tr>
                <th>User Stories</th>
                <th>To Do</th>
                <th>In Progress</th>
                <th>Done</th>
                <th>Tests</th>
            </tr>
        </thead>
        <tbody>
            {% for userstory in entity.userstory -%}
            <tr class="containment_{{ userstory.id }}">
                <td class="alignLeft ok">
                    <a href="{{ path('userstory_show', { 'projectId': projectId, 'id': userstory.getId() }) }}">{{ userstory }}</a>
                </td>
                <td class="stateToDo">
                {% for task in userstory.task -%}
                {% if task.state == 0 -%}
                    <div data-url="{{ path('task_show', { 'projectId': projectId, 'sprintId': sprintId, 'id': task.id }) }}" class="postIt id{{ userstory.id }}">
                        <span class="taskIcons">
                            {%- if task.user|length > 0 -%}
                            <img title="This task is assigned to {{ task.user|join(', ') }}." src="{{ asset('img/user.png') }}" alt=""/>
                            {%- endif -%}
                            {%- if task.isBug -%}
                            <img title="This task is a bug." src="{{ asset('img/bug.png') }}" alt=""/>
                            {%- endif -%}
                        </span>
                        <span class="taskDuration">Estimed duration: {{ task.duration }}</span>
                        <span data-id="{{ task.id }}" class="taskId">#{{ task.displayId }}</span>
                        <span class="taskTitle">{{ task.title }}</span>
                        <span class="taskDesc">{{ task.description|length > 120 ? task.description[:120] ~ '...' : task.description }}</span>
                    </div>
                {% endif -%}
                {% endfor -%}
                </td>
                <td class="droppable stateInProgress">
                {% for task in userstory.task -%}
                {% if task.state == 1 -%}
                    <div data-url="{{ path('task_show', { 'projectId': projectId, 'sprintId': sprintId, 'id': task.id }) }}" class="postIt id{{ userstory.id }}">
                        <span class="taskIcons">
                            {%- if task.user|length > 0 -%}
                            <img title="This task is assigned to {{ task.user|join(', ') }}." src="{{ asset('img/user.png') }}" alt=""/>
                            {%- endif -%}
                            {%- if task.isBug -%}
                            <img title="This task is a bug." src="{{ asset('img/bug.png') }}" alt=""/>
                            {%- endif -%}
                        </span>
                        <span class="taskDuration">Estimed duration: {{ task.duration }}</span>
                        <span data-id="{{ task.id }}" class="taskId">#{{ task.displayId }}</span>
                        <span class="taskTitle">{{ task.title }}</span>
                        <span class="taskDesc">{{ task.description|length > 120 ? task.description[:120] ~ '...' : task.description }}</span>
                    </div>
                {% endif -%}
                {% endfor -%}
                </td>
                <td class="droppable stateDone">
                {% for task in userstory.task -%}
                {% if task.state == 2 -%}
                    <div data-url="{{ path('task_show', { 'projectId': projectId, 'sprintId': sprintId, 'id': task.id }) }}" class="postIt id{{ userstory.id }}">
                        <span class="taskIcons">
                            {%- if task.user|length > 0 -%}
                            <img title="This task is assigned to {{ task.user|join(', ') }}." src="{{ asset('img/user.png') }}" alt=""/>
                            {%- endif -%}
                            {%- if task.isBug -%}
                            <img title="This task is a bug." src="{{ asset('img/bug.png') }}" alt=""/>
                            {%- endif -%}
                        </span>
                        <span class="taskDuration">Estimed duration: {{ task.duration }}</span>
                        <span data-id="{{ task.id }}" class="taskId">#{{ task.displayId }}</span>
                        <span class="taskTitle">{{ task.title }}</span>
                        <span class="taskDesc">{{ task.description|length > 120 ? task.description[:120] ~ '...' : task.description }}</span>
                    </div>
                {% endif -%}
                {% endfor -%}
                </td>
                <td>
                    <ul class="list test">
                    {% for test in tests -%}
                    {%- if test.userStory.id == userstory.id -%}
                        <li>
                            {%- if test.state == 0 -%}
                            <img class="tinyImg" title="Not tested" src="{{ asset('img/forbidden.png') }}" alt=""/>
                            {%- elseif test.state == 1 -%}
                            <img class="tinyImg" title="Test passed" src="{{ asset('img/valid.png') }}" alt=""/>
                            {%- elseif test.state == 2 -%}
                            <img class="tinyImg" title="Test failed" src="{{ asset('img/error.png') }}" alt=""/>
                            {%- endif -%}
                            <a href="{{ path('test_show', { 'projectId': projectId, 'id': test.id }) }}" target="_blank" title="{{ test.comment }}">{{ test }}</a>
                        </li>
                    {% endif %}
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="button" href="{{ path('sprint', { 'projectId': projectId }) }}">Back to Sprints</a>
    
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.tablesorter.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/jquery-ui-1.10.3.custom.min.js') }}" type="text/javascript"></script>
    <script>
        $(document).ready(function() {
            $(".tablesorter").tablesorter();


            {% if isGranted and isSprintFinished == false -%}
            {% for userstory in entity.userstory %}
            $( ".postIt.id{{ userstory.id }}" )
            .draggable({
                containment: ".containment_{{ userstory.id }}",
                revert: 'invalid',

            })
            .click(function() {
                if ( $(this).is('.ui-draggable-dragging') ) {
                    return;
                }
                var url = $(this).attr('data-url');
                $.get( url, function( data ) {
                    displayPopup( data );
                })
                .fail(function() {
                    alert( "An error has occurred." );
                });
            });
            {% endfor %}

            $(".droppable").droppable({
                accept: ".postIt",
                hoverClass: "bgHighlight",
                drop: function( event, ui ) {
                    $(ui.helper).css({
                        'left': 'auto',
                        'top': 'auto'
                    });
                    $(this).append( $(ui.helper) );
                    var taskId = $(ui.helper).find("span.taskId").attr("data-id");
                    if ($(ui.helper).parent("td").hasClass("stateInProgress")) {
                        $.post("{{ path('task_edit_state', { 'projectId': projectId, 'sprintId': entity.id }) }}", { taskId: taskId, taskState: "InProgress", sprintId: {{ entity.id }} });
                    }
                    else if ($(ui.helper).parent("td").hasClass("stateDone")) {
                        $.post("{{ path('task_edit_state', { 'projectId': projectId, 'sprintId': entity.id }) }}", { taskId: taskId, taskState: "Done", sprintId: {{ entity.id }} });
                    }
                }
            });
            {%- else -%}
            {% for userstory in entity.userstory %}
            $( ".postIt.id{{ userstory.id }}" )
            .click(function() {
                if ( $(this).is('.ui-draggable-dragging') ) {
                    return;
                }
                var url = $(this).attr('data-url');
                $.get( url, function( data ) {
                    displayPopup( data );
                })
                .fail(function() {
                    alert( "An error has occurred." );
                });
            });
            {% endfor %}
            {%- endif %}
        });

    </script>
{% endblock %}
