{% extends "CoralScrumMainBundle::index.html.twig" %}

{% block container -%}
    <h1>Sprint</h1>

    <table class="cleanTab">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                <td>{{ entity.startDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ entity.duration }}</td>
            </tr>
        </tbody>
    </table>

    <a class="button" href="{{ path('sprint', { 'projectId': projectId }) }}">Back to Sprints</a>
    <a class="button" href="{{ path('sprint_edit', { 'projectId': projectId, 'id': entity.id }) }}">Edit</a>
    {{ form(delete_form) }}
    
{% endblock %}
