{% extends "CoralScrumMainBundle::index.html.twig" %}

{% block menu %}
    {% include "CoralScrumMainBundle:Main:menu.html.twig" %}
{% endblock %}

{% block container -%}

    <h1>User Story</h1>

    <table class="cleanTab">
        <tbody>
            <tr>
                <th>ID</th>
                <td>#{{ entity.displayId }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Priority</th>
                <td>{{ entity.priority }}</td>
            </tr>
            <tr>
                <th>Difficulty</th>
                <td>{{ entity.difficulty }}</td>
            </tr>
            <tr>
                <th>Finished</th>
                <td>
                    {% if entity.isFinished %}
                    <img src="{{ asset('img/valid.png') }}" />
                    {% else %}
                    <img src="{{ asset('img/error.png') }}" />
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Validated</th>
                <td>
                    {% if entity.validated == 0 %}
                    <img title="No tests" src="{{ asset('img/forbidden.png') }}" />
                    {% elseif entity.validated == 1 %}
                    <img src="{{ asset('img/valid.png') }}" />
                    {% elseif entity.validated == 2 %}
                    <img src="{{ asset('img/error.png') }}" />
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    {% if isGranted %}
    <ul class="actionButtons" style="margin-left:40px;">
        <li>
            <a class="blueButton" href="{{ path('userstory_edit', { 'projectId': projectId, 'id': entity.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            {{ form_widget(delete_form.submit, { 'attr': { 'class': 'redButton' } }) }}
            {{ form_end(delete_form) }}
        </li>
    </ul>
    {% endif %}

    <a class="button" href="{{ path('userstory', { 'projectId': projectId }) }}">Back to Backlog</a>
{% endblock %}
