{% extends "CoralScrumMainBundle::index.html.twig" %}

{% block menu %}
    {% include "CoralScrumMainBundle:Main:menu.html.twig" %}
{% endblock %}

{% block container -%}
    <h1>Collaborators</h1>

    <a class="button" href="{{ path('collaborator_new', { 'projectId': projectId }) }}">Add a new collaborator</a>

    <table class="defaultTab">
        <thead>
            <tr>
                <th>Username</th>
                <th>Account Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.user }}</td>
                <td>{{ entity.accountType }}</td>
                <td>
                    <a class="edit" href="{{ path('collaborator_edit', { 'projectId': projectId, 'id': entity.id }) }}"></a>
                    {% if entity.user.id != app.user.id %}
                    <a class="delete popupDialog" href="{{ path('collaborator_delete', { 'projectId': projectId, 'id': entity.id }) }}"></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
