{% extends "CoralScrumMainBundle::index.html.twig" %}

{% block menu %}
    {% include "CoralScrumMainBundle:Main:menu.html.twig" %}
{% endblock %}

{% block container -%}
    <h1>Test</h1>

    <table class="cleanTab">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>User Story</th>
                <td><a href="{{ path('userstory_show', { 'projectId': projectId, 'id': entity.userstory.id }) }}">{{ entity.userstory }}</a></td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Input</th>
                <td>{{ entity.input }}</td>
            </tr>
            <tr>
                <th>Test Case</th>
                <td>{{ entity.testCase }}</td>
            </tr>
            <tr>
                <th>Expected Result</th>
                <td>{{ entity.expectedResult }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>
                    {%- if entity.state == 0 -%}
                    <img title="Not tested" src="{{ asset('img/forbidden.png') }}" alt=""/>
                    {%- elseif entity.state == 1 -%}
                    <img title="Test passed" src="{{ asset('img/valid.png') }}" alt=""/>
                    {%- elseif entity.state == 2 -%}
                    <img title="Test failed" src="{{ asset('img/error.png') }}" alt=""/>
                    {%- endif -%}
                </td>
            </tr>
            <tr>
                <th>Tester</th>
                <td>{% if entity.tester is not null %}<span title="{{ entity.tester.firstname ~ ' ' ~ entity.tester.lastname }}">{{ entity.tester }}</span>{% endif %}</td>
            </tr>
            <tr>
                <th>Test Date</th>
                <td>{% if entity.testDate %}{{ entity.testDate|date('Y-m-d H:i') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ entity.comment }}</td>
            </tr>
        </tbody>
    </table>

    <a class="button" href="{{ path('test', { 'projectId': projectId }) }}">Back to Tests</a>

    {% if isGranted -%}
    <a class="button" href="{{ path('test_edit', { 'projectId': projectId, 'id': entity.id }) }}">Edit</a>
    {{ form(delete_form) }}
    {%- endif %}

{% endblock %}
