{% extends "CoralScrumMainBundle::index.html.twig" %}

{% block container -%}
    <h1>Test</h1>

    <table class="record_properties cleanTab">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Input</th>
                <td>{{ entity.input }}</td>
            </tr>
            <tr>
                <th>Testcase</th>
                <td>{{ entity.testCase }}</td>
            </tr>
            <tr>
                <th>Expectedresult</th>
                <td>{{ entity.expectedResult }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ entity.comment }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('test') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('test_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
