{% extends "CoralScrumMainBundle::index.html.twig" %}

{% block menu %}
    {% include "CoralScrumMainBundle:Main:menu.html.twig" %}
{% endblock %}

{% block container -%}
    <h1>Test</h1>

    <table class="cleanTab">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Input</th>
                <td>{{ entity.input }}</td>
            </tr>
            <tr>
                <th>Testcase</th>
                <td>{{ entity.testCase }}</td>
            </tr>
            <tr>
                <th>Expectedresult</th>
                <td>{{ entity.expectedResult }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ entity.comment }}</td>
            </tr>
        </tbody>
    </table>

    <a class="button" href="{{ path('test', { 'projectId': projectId }) }}">Back to Tests</a>
    <a class="button" href="{{ path('test_edit', { 'projectId': projectId, 'id': entity.id }) }}">Edit</a>
    {{ form(delete_form) }}

{% endblock %}
