{% extends "CoralScrumMainBundle::index.html.twig" %}

{% block menu %}
    {% include "CoralScrumMainBundle:Main:menu.html.twig" %}
{% endblock %}

{% block container -%}
    <h1>Tasks list</h1>

    {% if isGranted -%}
    <a class="button" href="{{ path('task_new', { 'projectId': projectId, 'sprintId': sprintId }) }}">Create a new Task</a>
    {%- endif %}

    <table class="defaultTab tablesorter">
        <thead>
            <tr>
                <th>ID</th>
                <th>User Story</th>
                <th>Title</th>
                <th>Description</th>
                <th>Duration (days)</th>
                <th>State</th>
                <th>Creation Date</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Is Bug</th>
                <th>Assign To</th>
                <th>Dependencies</th>
                <th>Commit Link</th>
                {% if isGranted -%}
                <th>Actions</th>
                {%- endif %}
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a class="button" href="{{ path('task_show', { 'projectId': projectId, 'sprintId': sprintId, 'id': entity.id }) }}">#{{ entity.displayId }}</a></td>
                <td><a href="{{ path('userstory_show', { 'projectId': projectId, 'id': entity.userstory.id }) }}">{{ entity.userstory }}</a></td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.duration }}</td>
                <td>
                    {%- if entity.state == 0 -%}
                    To Do
                    {%- elseif entity.state == 1 -%}
                    In Progress
                    {%- elseif entity.state == 2 -%}
                    Done
                    {%- endif -%}
                </td>
                <td>{% if entity.creationDate %}{{ entity.creationDate|date('Y-m-d') }}{% endif %}</td>
                <td>{% if entity.startDate %}{{ entity.startDate|date('Y-m-d') }}{% endif %}</td>
                <td>{% if entity.endDate %}{{ entity.endDate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.isBug ? 'Yes' : 'No' }}</td>
                <td>
                    {% for user in entity.user -%}
                    {%- if not loop.first -%}, {% endif -%}
                    <span title="{{ user.firstname ~ ' ' ~ user.lastname }}">{{ user }}</span>
                    {%- endfor %}
                </td>
                <td>{% for taskDep in entity.dependency %}{{ taskDep }}<br>{% endfor %}</td>
                <td>
                    {%- if entity.commit is not null -%}
                    <a class="commit" target="_blank" href="{{ entity.commit }}">{{ entity.commit }}</a>
                    {%- endif -%}
                </td>
                {% if isGranted -%}
                <td>
                    <a class="edit" href="{{ path('task_edit', { 'projectId': projectId, 'sprintId': sprintId, 'id': entity.id }) }}"></a>
                    <a class="delete" href=""></a>
                </td>
                {%- endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.tablesorter.min.js') }}" type="text/javascript"></script>
    <script>
        $(document).ready(function() {
            $(".tablesorter").tablesorter();
        });
    </script>
{% endblock %}
