{% extends "CoralScrumMainBundle::index.html.twig" %}

{% block menu %}
    {% include "CoralScrumMainBundle:Main:menu.html.twig" %}
{% endblock %}

{% block container -%}
    <h1>Add a new Task</h1>

    
    {{ form_start(form) }}

    <div>
        {{ form_label(form.title) }}
        {{ form_errors(form.title) }}
        {{ form_widget(form.title) }}
    </div>
    <div>
        {{ form_label(form.description) }}
        {{ form_errors(form.description) }}
        {{ form_widget(form.description) }}
    </div>
    <div>
        {{ form_label(form.duration) }}
        {{ form_errors(form.duration) }}
        {{ form_widget(form.duration) }}
    </div>
    <div>
        {{ form_label(form.isBug) }}
        {{ form_errors(form.isBug) }}
        {{ form_widget(form.isBug) }}
    </div>
    <div>
        {{ form_label(form.userStory) }}
        {{ form_errors(form.userStory) }}
        {{ form_widget(form.userStory) }}
    </div>
    <div>
        <label for="coralscrum_mainbundle_task_user" class="required">Assign to<br><span class="hint">(Ctrl+click multiple-select)</span></label>
        {{ form_errors(form.user) }}
        {{ form_widget(form.user) }}
    </div>
    <div>
        <label for="coralscrum_mainbundle_task_dependency" class="required">Dependencies<br><span class="hint">(Ctrl+click multiple-select)</span></label>
        {{ form_errors(form.dependency) }}
        {{ form_widget(form.dependency) }}
    </div>
    
    {{ form_end(form) }}

    <a class="button" href="{{ path('sprint_show', { 'projectId': projectId, 'sprintId': sprintId }) }}">Back to the Sprint</a>

{% endblock %}
