{#% extends "::base.html.twig" %#}


<div class="postItPopup">
    <a class="closePopup closePopupIcon" href=""></a>
    <h1 class="taskTitle">Task #{{ entity.id }}</h1>

    <table class="cleanTab">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td class="taskDesc"><p>{{ entity.description }}</p></td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ entity.duration }} {{ entity.duration < 1 ? 'day' : 'days' }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ entity.state }}</td>
            </tr>
            <tr>
                <th>Creation Date</th>
                <td>{{ entity.creationDate|date('d M Y H:i') }}</td>
            </tr>
            <tr>
                <th>Start Date</th>
                <td>{% if entity.startDate %}{{ entity.startDate|date('d M Y H:i') }}{% endif %}</td>
            </tr>
            <tr>
                <th>End Date</th>
                <td>{% if entity.endDate %}{{ entity.endDate|date('d M Y H:i') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Assign To</th>
                <td>
                    {{ entity.user|join(', ') }}
                </td>
            </tr>
            <tr>
                <th>Is Bug</th>
                <td>{{ entity.isBug ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Commit ID</th>
                <td>{{ entity.commit }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="actionButtons">
        <li>
            <a class="button" href="{{ path('task_edit', { 'projectId': projectId, 'sprintId': sprintId, 'id': entity.id }) }}">Edit</a>
        </li>
        <li>
            <a class="redButton popupDialog" href="{{ path('task_delete', { 'projectId': projectId, 'sprintId': sprintId, 'id': entity.id }) }}">Delete</a>
        </li>
    </ul>
</div>

<script type="text/javascript">
    $(".popupDialog").click(function() {
        var url = $(this).attr('href');
        var message = 'Are you sure that you want to permanently delete this ?';
        var dialog = getDialogContent(message, url);
        displayPopup( dialog );
        initConfirmedPopup();
        return false;
    });
</script>
